<!-- Footer -->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-1 border-top fixed-bottom" id="footer">
        <div class="col-md-4 d-flex align-items-center" style="height: 50px;">
            <div class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <div class="container" style="width:30px; height: 24px;"></div>
            </div>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Joshua Lehr, Photo by 
                <a href="https://unsplash.com/@itfeelslikefilm?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">🇸🇮 Janko Ferlič</a> on 
                <a href="https://unsplash.com/photos/brown-coffee-beans-beside-white-ceramic-mug-h9Iq22JJlGk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
            </span>
        </div>
    </footer>
</div>
