<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<!-- Head -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cafe Wifi</title>
  {% block styles %}
  {{ bootstrap.load_css() }}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
  {% endblock %}
</head>

<!-- Header -->
<div class="container fixed-top" id="header">
    <header class="d-flex flex-wrap justify-content-center py-2 mb-3 border-bottom">
        <span style="margin: 0 auto">
        <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
            <i class="bi-cup-hot-fill" id="coffee-logo"></i>
            <span class="fs-4" style="font-size: 30px !important; font-weight: bold !important;">Cafe Wi-fi</span>
        </div>
        </span>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link active" id="home-button" aria-current="page">Home</a></li>
        </ul>
    </header>
</div>
